@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=1506070932593');
  /* IE9*/
  src: url('iconfont.eot?t=1506070932593#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAXEAAsAAAAACEQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFZW7kj7Y21hcAAAAYAAAABnAAABnNB3btdnbHlmAAAB6AAAAd4AAAIMCtQkdGhlYWQAAAPIAAAALwAAADYO9SktaGhlYQAAA/gAAAAcAAAAJAfeA4VobXR4AAAEFAAAABAAAAAQD+kAAGxvY2EAAAQkAAAACgAAAAoBfACubWF4cAAABDAAAAAfAAAAIAETAF1uYW1lAAAEUAAAAUUAAAJtPlT+fXBvc3QAAAWYAAAAKgAAADu17+k+eJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2Bk/sU4gYGVgYOpk+kMAwNDP4RmfM1gxMjBwMDEwMrMgBUEpLmmMDgwVDznZ27438AQw9zA0AAUZgTJAQAlMwx+eJzFkNEJwCAMRC/GFikFF+ln6UD96gju5U46hk2iP07gyYvJcRARwAaAhUvwAH0gqF5xyXzGYb7HI3OQ4+ROJdfY2tSpyBLBOtYk7VgmWrd61mn1HpP+dxrIE0vuqF9jB+4HGlkSfwB4nFWQvW/TYBDG33tffyRpYif+ttPEcYz9tiq1aOo4iVCTBSGRIEHbqWMXlEqUtUIwhAEJaoYIRCU2iKi6MDHA0oGFoZWQkFhZSvkrGFwcog6cTo/uHt3ppzvEInRxRo6JgWS0gFbQDXQXIeCWoC7gCjg0DPASqA6r6opAqEsd3q0HZA30OqdojSj0dY7nRBCgCqtOI6IBptAMu/g6NLQKgFm2NiVvXiJjyBm0+jTp4wmotjsvdpeTW1d7SqMmZ/bykmRK0osMx7IZjBlRgF1dy7LZHJe8Z0VLPbYXsQ15k1q3twq1srT9LHxQ8fQswGgEcrkmHPVKVinNx5YmSyZfLGQMq+BeUWDv95wh5yv+OUoDp7d+Iq/JBppD1fTKAGgXWlXQBZBXnLQLo9bM0HgB4M8wJiQe/tPnSabTwzmm9fXhk9Nlx7W34B7Z3xnGGMfDnf3kDnNzrehldx8BHt3fDKk85TFTIRM8TnkKomj1fyYVYPZC4qauf4nmUjbvpVXaB9MhzLUHGA/a7QHAoL3YbK5H0QJ8OM8xqv3j4OMZT1hS/HmUxKVvBy9PdPN0/Oo7iLjfmS10+r8gWp9uJYfyF18oX3sjqCcGXyDOZ+XCPSwV33n+RBTf/gUw2mIyAAB4nGNgZGBgAOKYTdeex/PbfGXgZmEAgauvPk1B0P+3sTAwBwG5HAxMIFEAfpcNHgB4nGNgZGBgbvjfwBDDwgACQJKRARWwAABHCgJtBAAAAAPpAAAEAAAABAAAAAAAAAAAdgCuAQYAAHicY2BkYGBgYQhkYGUAASYg5gJCBob/YD4DABESAXEAeJxlj01OwzAQhV/6B6QSqqhgh+QFYgEo/RGrblhUavdddN+mTpsqiSPHrdQDcB6OwAk4AtyAO/BIJ5s2lsffvHljTwDc4Acejt8t95E9XDI7cg0XuBeuU38QbpBfhJto41W4Rf1N2MczpsJtdGF5g9e4YvaEd2EPHXwI13CNT+E69S/hBvlbuIk7/Aq30PHqwj7mXle4jUcv9sdWL5xeqeVBxaHJIpM5v4KZXu+Sha3S6pxrW8QmU4OgX0lTnWlb3VPs10PnIhVZk6oJqzpJjMqt2erQBRvn8lGvF4kehCblWGP+tsYCjnEFhSUOjDFCGGSIyujoO1Vm9K+xQ8Jee1Y9zed0WxTU/3OFAQL0z1xTurLSeTpPgT1fG1J1dCtuy56UNJFezUkSskJe1rZUQuoBNmVXjhF6XNGJPyhnSP8ACVpuyAAAAHicY2BigAAuBuyAhZGJkZmRhZGVgbGCpbQ4tYgtOSMxOzGPgQEALUAEywAA') format('woff'),
  url('iconfont.ttf?t=1506070932593') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1506070932593#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e70f";
}

.icon-chakan:before {
  content: "\e6b3";
}
