.index_content_article {
  position: relative;
  top: 60px;
  width: 100%;
  height: auto !important;
  min-height: 780px;
  margin-bottom: 80px;
  box-sizing: border-box;
  text-align: center;
}

.index_content_header>h1 {
  text-align: center;
  font-size: 40px;
  color: #4c4c4c;
  padding-top: 90px;
  font-weight: normal;
}

.index_content_header>p {
  width: 711px;
  padding-top: 35px;
  margin: 0 auto;
  font-size: 20px;
  color: #4c4c4c;
  line-height: 38px;
  font-weight: 200;
}

.index_content_header>a {
  display: block;
  margin: 50px auto 0 auto;
  background: #42A5F5;
  color: #fff;
  font-size: 16px;
}

.btn {
  border-radius: 2px;
  padding: 7px 14px;
}

.btn-big {
  font-size: 18px;
  width: 200px;
  height: 50px;
  line-height: 36px;
  text-align: center;
  box-sizing: border-box;
}

.index_content_figure{
	width: 100%;
	height: 400px;
	margin-top: 40px;
	display: flex;
	align-items:center;/*垂直居中*/
  justify-content: center;/*水平居中*/
}
