.login_content_article {
  position: relative;
  top: 60px;
  width: 100%;
  height: auto !important;
  min-height: 600px;
  margin-bottom: 60px;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_content_figure {
  margin-right: 40px;
  position: relative;
  width: 450px;
  height: 360px;
}

.login_content_figure>img {
  width: 100%;
  height: 100%;
}

.login_content_span {
  position: relative;
  height: 360px;
  border: 1px solid #000;
}

.login_div {
  position: relative;
  margin-left: 40px;
  width: 450px;
  height: 360px;
  /*background: #16a085;*/
  background: #f9fafc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login_form_header {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_form_header>nav {
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.login_form_header>nav>li {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_form_header>nav>li>a {
  font-size: 20px;
  color: #324057;
}
.login_form_article {
  position: relative;
  width: 100%;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_form_figure {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login_form_figure>img {
  width: 160px;
  height: 160px;
  border: 2px solid burlywood;
}

.codelogin_form_div {
  padding: 20px;
  color: #2e3842;
  font-size: 20px;
  text-align: center;
}

.codelogin_form_div>p {
  padding: 10px 0px;
  font-size: 15px;
  float: left;
}

.codelogin_form_div>a {
  padding: 10px 0px;
  font-size: 15px;
  float: left;
  color: #3481cf
}

.login_form_footer {
  height: 60px;
  width: 100%;
}

.login_form_nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-between;
}

.login_form_nav>a {
  text-decoration: none;
  color: #666;
  font-size: 12px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_form_nav>span {
  color: #666;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.passlogin_form_header {
  padding: 30px;
  color: #2e3842;
  font-size: 20px;
  text-align: center;
}

.passlogin_form_header>p {
  padding: 10px 0px;
  font-size: 15px;
  float: left;
}
.passlogin_form_header>a {
  padding: 10px 0px;
  font-size: 15px;
  float: left;
  color: #3481cf
}

#pass_login_form {
  position: relative;
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.inputstyle {
  position: relative;
  width: 70%;
  height: 18px;
  padding: 10px 0 10px 10px;
  line-height: 18px;
  border: 1px solid #eee;
  background: 0 0;
  color: #333;
  font-family: Verdana, Tahoma, Arial;
  font-size: 16px;
}

.login_btn {
  position: relative;
  width: 264px;
  height: 40px;
  padding: 10px 0 10px 10px;
  line-height: 18px;
  border: 1px solid #eee;
  background: #42A5F5;
  color: #fff;
  font-family: Verdana, Tahoma, Arial;
  font-size: 16px;
  cursor: pointer;
}
