* {
  margin: 0;
  padding: 0;
}
a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #4c4c4c;
  font-size: 15px;
}
li {
  list-style-type: none;
  text-align: center;
}
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  z-index: 100;
  font-family: "Microsoft Yahei", sans-serif;
}
.nav-wrap>li>a {
  font-size: 20px;
  font-weight: bold;
}
.topbar-nav-left {
  display: inline-block;
  float: left;
  height: 60px;
  margin-left: 40px;
  line-height: 60px;
  overflow: hidden;
}
.topbar-nav-right {
  display: inline-block;
  float: right;
  height: 60px;
  margin-right: 40px;
  line-height: 60px;
  overflow: hidden;
}
.nav {
  float: left;
}

.userinfo{
  float: left;
  padding: 0 10px;
  cursor: pointer;
}

.nav>a {
  float: left;
  margin: 0 10px;
}

.topbar-info {
  position: absolute;
  top: 0;
  right: 40px;
  height: 50px;
  line-height: 50px;
}
button {
  border: none;
  font-size: 16px;
  color: #919191;
  background-color: #fff;
}
button:hover {
  color: #000;
}
.topbar-info span {
  color: #919191;
}
.main_footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #2e3842;
  color: #fff;
}
.main_footer>p {
  margin-left: 24px;
  line-height: 40px;
  font-size: 12px;
}
